<div class="grid-container">
	<div class="temp header" >
		<span class="fa fa-thermometer-4"></span> {{$ctrl.thermostat.temp}}F <span class="fa fa-angle-double-right" ng-if="$ctrl.thermostat.set_temp > 41"></span> <span ng-if="$ctrl.thermostat.set_temp > 41">{{$ctrl.thermostat.set_temp}}F</span> <span class="fa fa-bolt" ng-if="$ctrl.thermostat.relay=='on'"></span>
	</div>

	<div class="onoff header">
		<div ng-if="$ctrl.thermostat.set_temp > 41" class="graybutton" ng-click="turn_off();">
			<span class="fa fa-snowflake-o"></span> Turn off
		</div>
		<div ng-if="$ctrl.thermostat.set_temp < 42" class="graybutton" ng-click="turn_on();">
			<span class="fa fa-bolt"></span> Turn on
		</div>
	</div>

	<div class="settings header">
		<div class="graybutton" onclick="location.href='#!/schedule-list'">
			&nbsp;<span class="fa fa-calendar"></span>&nbsp;
		</div>
	</div>

	<weather-current class="weather"></weather-current>
	<weather-forecast class="fcast"></weather-forecast>

	<div class="away footer">
		<div ng-if="$ctrl.schedule_status.schedule_status == 0"><span class="fa fa-calendar"></span>&nbsp;off</div>
	</div>

	<div class="time center footer">
   		<h1 ng-controller='TimeCtrl'>{{ clock | date:'HH:mm'}}</h1>
	</div>

	<div class="reload text-right footer">
		<div class="bluebutton band-button" onclick="window.location.reload()">
					&nbsp;<span class="fa fa-refresh"></span>&nbsp;
		</div>
	</div>
</div>

