<div class="row" style="padding-top:15px;">
	<div class="col-2 text-center" ng-repeat="period in $ctrl.forecast.properties.periods | limitTo: 6">
		<h4>{{period.temperature}}{{period.temperatureUnit}} <span class="text-primary">{{Math.round((period.temperature-32)/9*5)}}C</span></h4>
	</div>
</div>
<div class="row">
	<div class="col-2 text-center" ng-repeat="period in $ctrl.forecast.properties.periods | limitTo: 6">
		<p><strong>{{period.name}}</strong></p>
	</div>
</div>
<div class="row">
	<div class="col-2 text-center" ng-repeat="period in $ctrl.forecast.properties.periods | limitTo: 6">
		<img style="width:86px; height:86px;" ng-src="{{period.icon}}" class="mx-auto" ></img>
		<p>{{period.shortForecast}}</p>
	</div>
</div>
