<div class="container-fluid">

	<div class="row bg-primary text-white" style="padding-top:10px;">
		<div class="col-2">
			<div class="graybutton" style="margin-top:5px;" onclick="location.href='#!/thermostat'">
				Back
			</div>
		</div>
		<div class="col-8 text-center">
			<h1>Schedules</h1>
		</div>
		<div class="col-2 text-right">
			<div class="graybutton" style="margin-top:5px;" onclick="location.href='#!/thermostat'">
				Add
			</div>
		</div>	
	</div>

	<div class="row">
		<table class="table" style="font-size:20px">
			<thead>
				<tr>
					<th scope="col">Days</th>
					<th scope="col">From</th>
					<th scope="col">Until</th>
					<th scope="col">Temp</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="period in $ctrl.schedule" ng-click="navigate(period)">
					<td>
						<span ng-class="{'text-muted':(period.days.indexOf('0') == -1)}">Sun</span>
						<span ng-class="{'text-muted':(period.days.indexOf('1') == -1)}">Mon</span>
						<span ng-class="{'text-muted':(period.days.indexOf('2') == -1)}">Tue</span>
						<span ng-class="{'text-muted':(period.days.indexOf('3') == -1)}">Wed</span>
						<span ng-class="{'text-muted':(period.days.indexOf('4') == -1)}">Thu</span>
						<span ng-class="{'text-muted':(period.days.indexOf('5') == -1)}">Fri</span>
						<span ng-class="{'text-muted':(period.days.indexOf('6') == -1)}">Sat</span>
					</td>
					<td>{{period.hour1}}:{{("0"+period.minute1).slice(-2)}}</td>
					<td>{{period.hour2}}:{{("0"+period.minute2).slice(-2)}}</td>
					<td>{{period.temp1}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

